extends base

block content
  main.main
    .login-form#forgot-password
      h2.heading-secondary.ma-bt-lg Forgot My password
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)  
        .form__group
          button.btn.btn--green Next