extends base

block content
  main.main
    .login-form#reset-password
      h2.heading-secondary.ma-bt-lg Reset Your Password 
      form.form.form--login
        .form__group
          label.form__label(for='password') your password
          input#password.form__input(type='password', placeholder='********', required)  
        .form__group
          label.form__label(for='confirmPassword') confirm your password
          input#confirmPassword.form__input(type='password', placeholder='********', required)  
        .form__group
          button.btn.btn--green Confirm  